<h1>Projects</h1>

<%= link_to 'New Round', new_round_path %>

<% @round.each do |r| %>
  <p>
    <strong>Name:</strong>
    <%= r.total %>
  </p>

  <ol>
    <% for tour in r.tours %>
      <li><%= tour.country %></li>
    <% end %>
  </ol>

<% end %>